<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">
    <insert id="save" parameterType="member">
        insert into member_table(memberEmail, memberPassword, memberName, memberAge, memberMobile)
        values (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberAge}, #{memberMobile})
    </insert>
    <!-- 로그인 -->
  	<!--  <select id="login" parameterType="member" resultType="member">
        select memberEmail, memberPassword, memberName, memberAge, memberMobile
         from member_table where memberEmail=#{memberEmail} and memberPassword=#{memberPassword}
    </select> -->
    <select id="login" parameterType="member" resultType="member">
        select id, memberEmail, memberPassword, memberName, memberAge, memberMobile 
        from member_table where memberEmail=#{memberEmail} and memberPassword=#{memberPassword}
    </select>
    <!-- 목록보기 -->
    <select id="findAll" resultType="member">
    	select id, memberEmail, memberPassword, memberName, memberAge, memberMobile from member_table 
    </select>
    <!-- 상세보기 -->
    <select id="findById" parameterType="Long" resultType="member">
        select id, memberEmail, memberPassword, memberName, memberAge, memberMobile from member_table where id=#{id}
    </select>
    <!-- 삭제 -->
   	<delete id="delete" parameterType="Long">
   		delete from member_table where id = #{id}
   	</delete> 
    <!-- 수정을 위한 조회 -->
    <select id="findByMemberEmail" parameterType="String" resultType="member">
    	select id, memberEmail, memberPassword, memberName, memberAge, memberMobile
    	from member_table where memberEmail = #{loginEmail}
    </select>
    <!-- 수정 -->
   	<update id="update" parameterType="member">
   		update member_table set memberAge = #{memberAge}, memberMobile = #{memberMobile}
   		where id = #{id}
   	</update>
    
</mapper>